.bookBorrowListSwiper.swiper-vertical {
    height: 250px;
}

.borrow-list {
    padding: 0 7px;
    padding-top: 5px;
    height: 250px;
    overflow: hidden;

    .list-item {
        box-sizing: border-box;
        height: 50px;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .item-left {
        display: flex;
        align-items: center;

        .icon {
            display: flex;
            justify-content: center;
            margin-right: 14px;
            width: 36px;
            height: 25px;
            height: 41px;
            background-size: contain;
            background-image: url('/list-blue.png');
            background-position: center bottom;
            background-repeat: no-repeat;

            >span {
                font-weight: 700;
                font-size: 25px;
                line-height: 33px;
                background: linear-gradient(180deg, #FFFFFF 11.11%, #4AB0F7 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }

        .book-name {
            max-width: 256px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 15px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }

    .item-right {
        display: flex;
        align-items: center;

        >span:first-child {
            font-size: 12px;
            line-height: 16px;
            color: #62697D;
            margin-right: 10px;
        }

        >span:nth-child(2) {
            width: 30px;
            height: 26px;
            background-image: url('/icon-borrow.png');
            background-size: cover;
            color: #fff;
            font-size: 16px;
            line-height: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
        }
    }
}