#app {
  width: 1920px;
  height: 1080px;
  background-color: #061B7F;
  background: url("./assets/background.svg") no-repeat;
  background-size: cover;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.top-bar {
  width: 100%;
  height: 103px;
  background-image: url("./assets/top-bar.png");
  background-size: contain;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 33px;
  box-sizing: border-box;
}

.top-bar .page-title {
  width: 782px;
  height: 36px;
  background-image: url("./assets/page-title-font.svg");
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-bar .date-time {
  display: flex;
}

.top-bar .date-time .icon-calender {
  margin-right: 15px;
  width: 24px;
  height: 24px;
  background-image: url("./assets/icon-calender.svg");
  background-size: cover;
}

.top-bar .date-time .time {
  font-size: 18px;
  line-height: 24px;
  color: #3064E8;
  display: flex;
}

.top-bar .date-time .time > span {
  margin-right: 15px;
}

.top-bar .today-weather {
  display: flex;
}

.top-bar .today-weather .label {
  margin-right: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(180deg, #FFFFFF 11.11%, #4AB0F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.top-bar .today-weather .info {
  font-size: 18px;
  line-height: 24px;
  color: #3064E8;
}

.charts-container {
  box-sizing: border-box;
  padding: 0 30px;
  padding-bottom: 30px;
  height: calc(100% - 103px);
  display: flex;
}

.charts-container .left,
.charts-container .right {
  /* width: calc((100% - 3*24px) / 4); */
  box-sizing: border-box;
  width: 447px;
  height: 100%;
  margin-top: -3px;
  padding: 12px;
  padding-bottom: 17px;
  background: rgba(0, 2, 24, 0.6);
}

.charts-container .center {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  display: flex;
}

.charts-container .center .center-top {
  position: relative;
  flex: 1;
}

.charts-container .center .center-bottom {
  width: 100%;
  height: 307px;
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  /* padding: 0 24px; */
  padding-top: 23px;
  /* box-sizing: border-box; */
}

.charts-container .center .center-bottom .left {
  /* margin-right: 24px; */
  padding-bottom: 24px;
}

.charts-container .center .center-bottom .left .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  margin-bottom: 15px;
}

.charts-container .center .center-bottom .left .header > span {
  background: linear-gradient(270deg, rgba(0, 10, 86, 0) 2.08%, #000A56 20.83%, #000A56 48.44%, #000A56 81.77%, rgba(0, 10, 86, 0) 100%);
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  background: linear-gradient(180deg, rgba(74, 142, 255, 0) 0%, rgba(74, 142, 255, 0.2) 100%), #182AAC;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  position: relative;
}

.charts-container .center .center-bottom .left .header > span.active {
  background: linear-gradient(180deg, #FFFFFF 11.11%, #4AB0F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.charts-container .center .center-bottom .left .header > span.active::before,
.charts-container .center .center-bottom .left .header > span.active::after {
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid #4A8EFF;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  transform: rotate(-45deg) translateY(-100%);
}

.charts-container .center .center-bottom .left .header > span.active::before {
  left: -17px;
}

.charts-container .center .center-bottom .left .header > span.active::after {
  right: -24px;
}

.charts-container .center .center-bottom .left .bulletin .date-title {
  margin-bottom: 13px;
  display: flex;
}

.charts-container .center .center-bottom .left .bulletin .date-title .date-box {
  flex-shrink: 0;
  margin-right: 14px;
  width: 50px;
  height: 50px;
  background: rgba(48, 100, 232, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3064E8;
}

.charts-container .center .center-bottom .left .bulletin .date-title .date-box .month {
  font-size: 12px;
  line-height: 24px;
}

.charts-container .center .center-bottom .left .bulletin .date-title .date-box .date {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.charts-container .center .center-bottom .left .bulletin .date-title .title {
  color: #3064E8;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.charts-container .center .center-bottom .left .bulletin,
.charts-container .center .center-bottom .left .history {
  display: none;
}

.charts-container .center .center-bottom .left .bulletin.active,
.charts-container .center .center-bottom .left .history.active {
  display: block;
}

.charts-container .center .center-bottom .left .content {
  padding: 0 12px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #AFC4F9;
}

.charts-container .center .center-bottom .left .bulletin .content-box {
  height: 150px;
  max-height: 150px;
  overflow: scroll;
  scrollbar-width: none;
  transition: all 0.1s ease-in-out;
}

.charts-container .center .center-bottom .left .bulletin .content-box::-webkit-scrollbar {
  display: none;
}

.charts-container .center .center-bottom .left .history {
  height: 200px;
  max-height: 200px;
  overflow: scroll;
  scrollbar-width: none;
  transition: all 0.1s ease-in-out;
}

.charts-container .center .center-bottom .left .history::-webkit-scrollbar {
  display: none;
}

.charts-container .center .center-bottom .left .history .content {
  text-indent: 30px;
}

.charts-container .center .center-bottom .right {
  padding: 24px 18px 33px;
  position: relative;
}

.charts-container .center .center-bottom .right .video {
  height: 220px;
}

.charts-container .center .center-bottom .right .video video {
  width: 100%;
  height: 220px;
}

.charts-container .center .center-bottom .right .video-text {
  position: absolute;
  left: 19px;
  bottom: 33px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.sub-chart-container {
  margin-bottom: 24px;
}

.sub-chart-container:last-child {
  margin-bottom: 0;
}

.sub-chart-container .data-list {
  padding-top: 15px;
  display: flex;
}

.sub-chart-container .data-list .item {
  flex: 1;
  padding-left: 10px;
  /* padding-bottom: 4px; */
  /* margin-top: -5px; */
  border-left: 1px solid rgba(74, 142, 255, 0.3);
  position: relative;
  color: #3064E8;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.sub-chart-container .data-list .item::after {
  position: absolute;
  width: 2px;
  height: 4px;
  background-color: #4A8EFF;
  content: "";
  top: 0;
  left: -1px;
}

.sub-chart-container .data-list .label {
  color: #3064E8;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.sub-chart-container .data-list .number {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.map-data {
  position: absolute;
  box-sizing: border-box;
  width: 447px;
  height: 140px;
  background-image: url("./assets/map-info-bg.png");
  background-size: cover;
  right: 24px;
  bottom: 0;
  padding: 15px 30px 28px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 37px;
}

.map-data .district-data-name {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* text-align: right; */
  color: #FFFFFF;
  right: 6px;
  top: -47px;
}

.map-data .data-item {
  padding: 12px 0;
  border-bottom: 1px solid rgba(74, 142, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.map-data .data-item::after {
  position: absolute;
  width: 5px;
  height: 1px;
  background-color: #4A8EFF;
  bottom: 0;
  left: 0;
  content: "";
}

.map-data .data-item .item-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #3064E8;
}

.map-data .data-item .item-num {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
}

.center-data {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-bottom: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1000;
}

.center-data .data-item {
  width: 302px;
  height: 132px;
  background-image: url("./assets/center-data-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateZ(0);
}

.center-data .data-item .data-name {
  font-size: 16px;
  line-height: 21px;
  color: #3064E8;
  margin-bottom: 5px;
  margin-top: -18px;
}

.center-data .data-item .data-num {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}

.center-map {
  width: 757px;
  height: 410px;
  transform: scaleX(1.15);
}

.map-container {
  padding: 0 105px;
  padding-top: 116px;
}

.chart {
  width: 406px;
  height: 190px;
  padding: 0 8px;
}

.chart-header {
  height: 36px;
  background-image: url("./assets/chart-header-left.png"), url("./assets/chart-header-right.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.chart-header .header-icon {
  margin-right: 9px;
  width: 12px;
  height: 12px;
  background-image: url("./assets/icon-chart-header.svg");
  background-size: cover;
  transform: scale(3);
}

.chart-header .header-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  background: linear-gradient(180deg, #FFFFFF 11.11%, #4AB0F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.data-list .item.borrow .label::after {
  margin-left: 10px;
  margin-top: -2px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3064E8;
  border-radius: 50%;
}

.data-list .item.return .label::after {
  margin-left: 10px;
  margin-top: -2px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #D26A0E;
  border-radius: 50%;
}

.jiceng-list {
  padding-top: 27px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.jiceng-item {
  position: relative;
  padding: 38px 16px 16px;
  box-sizing: border-box;
  width: 190px;
  height: 80px;
  border: 1px solid rgba(48, 100, 232, 0.3);
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.jiceng-item:nth-last-child(-n+2) {
  margin-bottom: 15px;
}

.jiceng-item .jiceng-name {
  position: absolute;
  background: #000322;
  left: 8px;
  top: -13px;
  padding: 3px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #3064E8;
}

.jiceng-item .data-item {
  display: flex;
  width: 70px;
}

.jiceng-item .data-item > span:first-child {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #62697D;
  align-self: flex-end;
  margin-right: 6px;
}

.jiceng-item .data-item > span:nth-child(2) {
  width: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  color: #FFFFFF;
}

.bookBorrowListSwiper.swiper-vertical {
  height: 250px;
}

.borrow-list {
  padding: 0 7px;
  padding-top: 5px;
  height: 250px;
  overflow: hidden;
}

.borrow-list .list-item {
  box-sizing: border-box;
  height: 50px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.borrow-list .item-left {
  display: flex;
  align-items: center;
}

.borrow-list .item-left .icon {
  display: flex;
  justify-content: center;
  margin-right: 14px;
  width: 36px;
  height: 25px;
  height: 41px;
  background-size: contain;
  background-image: url("./assets/list-blue.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.borrow-list .item-left .icon > span {
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  background: linear-gradient(180deg, #FFFFFF 11.11%, #4AB0F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.borrow-list .item-left .book-name {
  max-width: 256px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.borrow-list .item-right {
  display: flex;
  align-items: center;
}

.borrow-list .item-right > span:first-child {
  font-size: 12px;
  line-height: 16px;
  color: #62697D;
  margin-right: 10px;
}

.borrow-list .item-right > span:nth-child(2) {
  width: 30px;
  height: 26px;
  background-image: url("./assets/icon-borrow.png");
  background-size: cover;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.new-books-list {
  padding: 25px 12px 16px;
  display: flex;
}

.new-books-list .new-book-item {
  padding: 10px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  width: 132px;
  box-sizing: border-box;
}

.new-books-list .new-book-item .book-image {
  margin-bottom: 16px;
  width: 100px;
  height: 142px;
  border: 1px solid rgba(48, 100, 232, 0.3);
  filter: drop-shadow(6px 6px 12px rgba(74, 142, 255, 0.25));
}

.new-books-list .new-book-item .book-image img {
  width: 100%;
  height: 100%;
}

.new-books-list .new-book-item .book-name {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.new-books-list .new-book-item .book-author {
  font-size: 12px;
  line-height: 16px;
  color: #62697D;
}